*{
    margin: 0;
    padding: 0;
}


.containerA{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    
    
    
    
}

.container1{
    
    width: 400px;
    height: 520px;
    background-color: green;
    margin: 20px;
    
    
}
.containerB{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
    
}
.container2{
    width: 400px;
    height:250px;
    background-color: purple;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
    
    
}
.container3{
    width: 400px;
    height: 250px;
    background-color: orange;
    margin-bottom: 20px;
    
    
}
.containerC{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}
.container4{
    width: 400px;
    height: 350px;
    background-color: rgb(60, 162, 245);

    
    
    

}
.container5{
    width: 400px;
    height: 150px;
    background-color: red;
    margin-top: 20px;
    
    
}
.containerD{
    display: flex;
    justify-content: center;
    
}
.container6{
    width: 400px;
    height: 15  0px;
    background-color: aquamarine;
    margin-left: 20px;
    
    
    
}
.container7{
    width: 820px;
    height: 150px;
    background-color: black;
    margin-left: 20px;
    
}