* {
    margin: 0%;
    padding: 0%;
}
.containerA {
    display: flex;
    flex-direction: row;
}
.containerB {
    display: flex;
    flex-direction: column;
}
.container{
    background-color: red;
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
    margin: 10px;
}
.container1 {
    background-color: blue;
    height: 8rem;
    width: 16rem;
    border-radius: 10px;
    margin: 10px;
}
.container2 {
    background-color:green;
    width: 8rem;
    height: 16rem;
    border-radius: 10px;
    margin: 10px;
}
.container3 {
    background-color: orange;
    width: 16rem;
    height: 16rem;
    border-radius: 10px;
    margin: 10px;
}
.container4{
    background-color: orange;
    width: 17rem;
    height: 16rem;
    border-radius: 10px;
    margin-left: 16px;
    margin-top: 10px;
}
.container23{
    background-color:green;
    width: 8rem;
    height: 17rem;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 15px;

}
.containerX{
    background-color: blue;
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
    margin: 10px;
    margin-left: 18px;
}
.container12{
    background-color: red;
    height: 8rem;
    width: 17rem;
    border-radius: 10px;
    margin: 10px;
}
